/* css variables */


:root {
    --primary-color: #6C63FF;
    /* rgb for primary color rgb(108 99 255) */
    --secondary-color: #f44336;
    --background-color: #f4f4f4;
    --text-color: #36344a;
    --primary-font-family: 'Atma', sans-serif;
    --secondary-font-family: 'Nunito Sans', sans-serif;
    --font-size: 62.5%;
}
*{
    box-sizing: border-box;
    font-family: var(--primary-font-family);
    margin: 0;
    padding: 0;
    color: var(--text-color);
}


h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 5.4rem;
    color: var(--secondary-color);
    margin-bottom: 5rem;
}

h1>span {
    font-size: 2.4rem;
    font-weight: 500;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-weight: 700;
}

h3 {
    font-size: 2.8rem;
    font-weight: 500;
}

/* Buttons */

.btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid var(--primary-color);
    margin-bottom: 1rem;
    text-decoration: none;
    color: var(--primary-color);
    background-color: white;
    box-shadow: 0 0 0.5rem var(--primary-color);
}

.btn:hover {
    cursor: pointer;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
    box-shadow: none;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

/* Utilities */

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.container>* {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}


/* game styles */

.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(108, 99, 255, 0.25);
    background-color: white;
    align-items: stretch;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: var(--primary-color);
    color: white;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.choice-text {
    padding: 1.5rem;
    font-family: var(--secondary-font-family);
    width: 100%;
}

.choice-text:hover {
    background-color: #f0f0f0;
    box-shadow: 0 0.4rem 0 rgba(108, 99, 255, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}
.correct {
    background-color: #28a745;
}

.incorrect {
    background-color: #dc3545;
}


/* HUD */
#hud {
    display: flex;
    justify-content: space-between;

}
 

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

/* results page */

#results form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#results input {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

#results input::placeholder {
  color: var(--primary-color);
}

/* highscores */
#highScoresList {
  list-style: none;
  padding-left: 0;
  margin-bottom: 4rem;
}

.high-score {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
}

.high-score:hover {
  transform: scale(1.025);
}